<div class="main" style="background-image: url('/assets/img/default.jpg')">

    <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

    <div class="cover blue" data-color="blue"></div>

    <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">

        <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->



        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">



                <div class="card card-signup" style="margin: 160px 0 40px; z-index: 1000;">
                    <form [formGroup]="form" (ngSubmit)="loginUser($event, form.value)" accept-charset="UTF-8" class="form">
                        <div class="header header-primary text-center">
                            <h4>Login In</h4>
                            <div class="social-line" style="display: none;">
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!--<p class="text-divider">Or Be Classical</p>-->
                        <p class="text-divider"><a href="/#/register">Or register</a></p>
                        <div class="content">

                            <div class="input-group">
                                <span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                                <div class="form-group is-empty">
                                    <input [formControl]="username" type="text" class="form-control" placeholder="Email...">
                                </div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                <div class="form-group is-empty">
                                    <input [formControl]="password" type="password" placeholder="Password..." class="form-control" />
                                </div>
                                <a style="float: right;" href="/#/reset-password"><small>Forgot Password?</small></a>
                            </div>

                             <!--If you want to add a checkbox to this form, uncomment this code-->

									<!--<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Subscribe to newsletter
										</label>
									</div> -->
                        </div>
                        <div class="footer text-center">
                            <span style="color: #fa758e;" *ngIf="!!errorMessage">{{errorMessage}}</span>
                            <span *ngIf="loading">{{loadingMessage}}</span>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" [disabled]="!form.valid" class="btn btn-simple btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                </div>




            </div>
        </div>








    </div>
</div>