<div class="main" style="background-image: url('/assets/img/default.jpg')">

    <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

    <div class="cover blue" data-color="blue"></div>

    <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">

        <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->


        <div class="content" style="padding-top: 18vh;">

            <div class="modal fade login in shown" id="loginModal">
                <div class="modal-dialog login animated">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="/#/" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                            <h4 class="modal-title">Login</h4>
                            <!--<h4 class="modal-title">Login with</h4>-->
                        </div>
                        <div class="modal-body">
                            <div class="box">
                                <div class="content">
                                    <div class="social" style="display:none;">
                                        <a class="circle github" href="/auth/github">
                                            <i class="fa fa-github fa-fw"></i>
                                        </a>
                                        <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                            <i class="fa fa-google-plus fa-fw"></i>
                                        </a>
                                        <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                            <i class="fa fa-facebook fa-fw"></i>
                                        </a>
                                    </div>
                                    <div class="division" style="display:none;">
                                        <div class="line l"></div>
                                        <span>or</span>
                                        <div class="line r"></div>
                                    </div>
                                    <div class="error"></div>
                                    <div class="form loginBox">
                                        <form [formGroup]="form" (ngSubmit)="loginUser($event, form.value)" action="/#/login" accept-charset="UTF-8">
                                            <input [formControl]="username" id="email" class="form-control" type="text" placeholder="Email" name="email">
                                            <input [formControl]="password" id="password" class="form-control" type="password" placeholder="Password" name="password">
                                            <input [disabled]="!form.valid" class="btn btn-primary btn-login" type="submit" value="Login">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="forgot login-footer">
                                <span style="color: #fa758e;" *ngIf="!!errorMessage">{{errorMessage}}</span>
                                <span *ngIf="loading">{{loadingMessage}}</span>
                            </div>
                            <div class="forgot login-footer">
                                <!--href="/#/register"-->
                                <span>Looking to <a [routerLink]="['/register']" >create an account</a> ?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="footer" >
        <div class="container"  style="margin-bottom: 0;">
            Open source from <a target="_blank" href="https://clearonline.org">Clear Online</a>
        </div>
    </div>
</div>