<div class="main" style="background-image: url('/assets/img/default.jpg')">

  <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

  <div class="cover blue" data-color="blue"></div>

  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

  <div class="container">

    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->



    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">



        <div class="card card-signup" style="margin: 160px 0 40px; z-index: 1000;">
          <form [formGroup]="form" (ngSubmit)="confirmUser($event, form.value)" accept-charset="UTF-8" class="form">
            <div class="header header-primary text-center">
              <h4>Validate</h4>
            </div>
            <!--<p class="text-divider">Or Be Classical</p>-->
            <p class="text-divider"><a (click)="requestNewCode($event, username.value)" href="/#/confirm">Send me another <i>code</i></a></p>
            <div class="content">

              <div class="input-group">
                <span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                <div class="form-group is-empty">
                  <input [formControl]="username" type="text" class="form-control" placeholder="Email...">
                </div>
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                      <i class="material-icons">vpn_key</i>
										</span>
                <div class="form-group is-empty">
                  <input [formControl]="code" type="password" placeholder="code..." class="form-control" />
                </div>
              </div>

            </div>
            <div class="footer text-center">
              <span style="color: #fa758e;" *ngIf="!!errorMessage">{{errorMessage}}</span>
              <span *ngIf="loading">{{loadingMessage}}</span>
              <span style="color: #388e3c;" *ngIf="session?.confirmed">Your email address has been confirmed</span>
            </div>
            <div class="footer text-center">
              <button type="submit" [disabled]="!form.valid" class="btn btn-simple btn-primary btn-lg">Submit</button>
            </div>
          </form>
        </div>




      </div>
    </div>








  </div>
  <div class="footer">
    <div class="container" style="margin-bottom: 0;">
      Open source from <a target="_blank" href="https://clearonline.org">Clear Online</a>
    </div>
  </div>
</div>