<!--<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">-->
<!-- Brand and toggle get grouped for better mobile display -->
<!--<div class="container">-->
<!--<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>-->

<!-- Collect the nav links, forms, and other content for toggling -->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#/">
                        <img src="/assets/img/favicon.png" width="40"> Final Check
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a target="_blank" href="https://www.facebook.com/clearonlineorg/">
                        <i class="fa fa-facebook-square"></i> Like
                    </a>
                </li>
                <li>
                    <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Easy way to monitor your network API calls - https%3A%2F%2Ffinal-check.clearonline.org%2F">
                        <i class="fa fa-twitter"></i> Tweet
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/clearonline-org/final-check">
                        <i class="fa fa-github"></i> Star
                    </a>
                </li>
            </ul>

        </div>-->
<!-- /.navbar-collapse -->
<!--</div>-->
<!-- /.container -->
<!--</nav>-->

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black" data-image="./assets/img/login.jpeg">


        <router-outlet></router-outlet>


    </div>
</div>


<footer class="footer" style="position: fixed; bottom: 0; border-top: none;">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/#/">
                        <img src="/assets/img/favicon.png" width="40"> Final Check
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/clearonlineorg/">
                        <i class="fa fa-facebook-square"></i> Like
                    </a>
                </li>
                <li>
                    <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Easy way to monitor your network API calls - https%3A%2F%2Ffinal-check.clearonline.org%2F">
                        <i class="fa fa-twitter"></i> Tweet
                    </a>
                </li>
                <li class="remove-on-sm">
                    <a target="_blank" href="https://github.com/clearonline-org/final-check">
                        <i class="fa fa-github"></i> Star
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right remove-on-sm">
            Open source from <a target="_blank" href="https://clearonline.org">Clear Online</a>
        </p>
    </div>
</footer>